.dashboard_sec {
    .dashboard_content {
        .total_info_box {
            border-radius: 5px;
            border: 2px solid var(--blue);
            background: var(--white);
            box-shadow: 0px 0px 10px 0px rgba(40, 166, 250, 0.58) inset;

            p {
                color: var(--black);
                font-size: var(--fs-16);
                font-weight: 400;
                white-space: nowrap;
            }

            h4 {
                color: var(--black);
                font-size: var(--fs-40);
                font-weight: 500;
            }
        }
    }


    .table__job {
        background-color: var(--white);
        border-radius: 5px;

        .table__head {
            h6 {
                color: var(--blue);
                font-size: var(--fs-20);
                font-weight: 500;
            }
            .btn_create{
                @include blue-button;
            }
        }

        .table{
            .green_box{
                background-color: var(--light-green);
                color: var(--green);
                border-radius: 4px;
                font-weight: 500;
    font-size: 13px;
            }
            .red_box{
                background-color: var(--light-red);
                color: var(--red);
                border-radius: 4px;
                font-weight: 500;
    font-size: 13px;
            }
            .blue_box{
                background-color: var(--light-blue);
                color: var(--blue);
                border-radius: 4px;
                font-weight: 500;
    font-size: 13px;
            }
        }

      
        
    }

    .chart__box{
        background-color: var(--white);
        border-radius: 5px;
        h6{
            color: var(--blue);
        }
       .apexcharts-legend-text {
            color: var(--black) !important;
            font-family: Poppins !important;
            font-size: var(--fs-14) !important;
            font-weight: 500  !important;
        }
        .apexcharts-legend-marker {
            height: var(--fs-14) !important;
            width: var(--fs-14) !important;
        }
        // .apexcharts-legend {
        //     display: flex;
        //     overflow: auto;
        //     padding: 0 26px;
        // }
        .apexcharts-legend.apexcharts-align-center.apx-legend-position-right {
            top: 63px;
            right: -34px;
        }
        text#SvgjsText1270{
            font-family: Poppins !important;
        }
    }
    .react-calendar {
        background: var(--white);
        border: 1px solid transparent;
        font-family: 'Poppins';
        border-radius: 5px;
    }
    span.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
        color: var(--blue);
        font-weight: 500;
    }
    abbr[title]{
        text-decoration: none;
    }
    .react-calendar__tile--active {
        background: var(--blue);
    }
    .react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
        background-color: var(--light-blue);
    }
    .react-calendar__month-view__days__day--weekend {
        color: var(--blue);
    }
    .react-calendar__tile--active{
        &.react-calendar__month-view__days__day--weekend {
            color: var(--white);
        }
    }
   
 
}


@media screen and (min-width: 768px) and (max-width: 991px) {

.dashboard_sec {
    .dashboard_content {
        .total_info_box {
            min-height: 130px;
     }
    }
    .chart__box{
        .apexcharts-legend.apexcharts-align-center.apx-legend-position-right {
            top: 0 !important;
            right: 0!important;
        }
    }
}
}


@media screen and (min-width: 320px) and (max-width: 768px) {
.layout_sec {
    .table__job {
        .table__head {
            h6 {
                font-size: var(--fs-18);
            }
            .btn_create{
                font-size: var(--fs-13);
                min-height: 36px;
                padding: 0 10px !important;
            }
        }
    }
    .dashboard_content {
        .total_info_box {
           p {
               font-size: var(--fs-14);
               font-weight: 500;
        }
        h4{
            font-size: var(--fs-30);
        }
       }
        }
}
}
