.job_stagnation_sec {
    background-color: var(--white);

    h6 {
        color: var(--blue);
        font-size: var(--fs-20);
        font-weight: 500;
    }

    hr {
        border-color: #F2F2F2;
        border-width: 2px;
        margin: 8px 0;
    }

    .btn_Edit {
        @include blue-button;
    }

    .table_head {
        .form-select {
            --bs-form-select-bg-img: url('/images/icons/white-arrow.svg');
            color: var(--white);
            background-color: var(--blue);
            font-size: var(--fs-14);
            background-size: 12px 12px;
            border: 1px solid var(--blue);
            width: 100px;

            option {
                background-color: var(--white);
                color: var(--black);
            }
        }

        .btn_filter,
        .btn_export {
            @include blue-button;
        }
    }
    

   
}


.modal__edit {
    .btn-close {
        position: absolute;
        right: -30px;
        background-image: url(/images/icons/r-cross.svg);
        top: 8px;
        background-color: var(--white);
        opacity: 1;
        border-radius: 0px 3px 3px 0px;
        background-size: 17px;
        padding: 13px 14px !important;
        &:hover {
            opacity: 1;
        }
    }
    .modal-title{
        color: var(--blue);
font-size: var(--fs-18);
font-weight: 500;
line-height: 32px; 
text-decoration-line: underline;
text-transform: uppercase;
    }
    .form__box{
        .input-group{
            border-radius: 6px;
            border: 1px solid #DBDBDB;
            background: var(--white);
            padding: 2px;
            .form-control {
                font-size: var(--fs-14);
                background-color: transparent;
                border-color: transparent;
                color: var(--black);
            }

    }
    .form-select{
        font-size: var(--fs-14);
        &:focus {
            border-color: #DBDBDB;
        }
    }
        label{
            color: var(--light-text);
            font-size: var(--fs-14);
            font-style: normal;
            font-weight: 500;
        }
            
    input[type="date"]::-webkit-calendar-picker-indicator {
        background: url(/images/icons/calender.svg);
        background-repeat: no-repeat;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        background-position: right;
        margin-right: 10px;
    }
    input[type="file"]::file-selector-button {
        border: 2px solid var(--blue);
        padding: 0.2em 0.4em;
        // border-radius: 0.2em;
        background-color: var(--light-blue);
        transition: 1s;
      }
      
      input[type="file"]::file-selector-button:hover {
        border: 2px solid var(--blue);
      }
    }
    .btn_filter{
        @include blue-button;
    }
    .btn_reset{
        @include blue-button; 
        background-color: transparent;
        color: var(--blue); 
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .job_stagnation_sec {
        h6 {
            font-size: var(--fs-17);
        }
    }
}